pd {
    text-align: left;
    font-weight: normal;
    text-indent: 2em;
    line-height: 100%;
    font-size: 1em;
}

h6 {
    text-align: center;
    font-weight: bold;
    line-height: 0em;
    font-size: 4em;
    margin: 3em 0em 1em 0em;
}

h1 {
    text-align: center;
    font-weight: bold;
    line-height: 1em;
    font-size: 2em;
    margin: 1em 0em 0.5em 0em;
}

h2,h3,h4,h5 {
    text-align: center;
    font-weight: bold;
    line-height: 1em;
    font-size: 2em;
    margin: 1em 0em 0em 0em;
    page-break-before:always;
}

li {
    list-style-type: none;
}

hr {
    margin: 0.5em 1em 2em 1em;
}

p {
    text-indent: 2em;
    line-height: 100%;
    font-size: 1em;
    margin: 0em 0.5em 0.5em 1em;
}